---
import AppLayout from '../layouts/AppLayout.astro';
import { COMPANY } from '../consts';

const pageTitle = 'About Us';
---

<AppLayout title={pageTitle}>
	<div id="pxl-pagetitle" class="pxl-pagetitle  layout-el relative overflow-hidden">
        <div class="pxl-page-title-bg pxl-absoluted about" data-parallax='{&quot;z&quot;:&quot;50&quot;}'></div>
        <div class="pxl-page-title-overlay"></div>
        <div data-elementor-type="wp-post" data-elementor-id="329" class="elementor elementor-329">
           <section
              class="elementor-section elementor-top-section elementor-element elementor-element-5167451 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
              data-id="5167451" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-background-overlay"></div>
              <div class="elementor-container elementor-column-gap-default ">
                 <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84b296f col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                    data-id="84b296f" data-element_type="column">

                    <!-- <Image src={localImageAbout} alt="A description of my image." />  -->
                    <div class="elementor-widget-wrap elementor-element-populated">
                       <div class="elementor-element elementor-element-4fe35e3 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_page_title"
                          data-id="4fe35e3" data-element_type="widget"
                          data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                          data-widget_type="pxl_page_title.default">
                          <div class="elementor-widget-container">
                             <div class="pxl-pt-wrap d-flex">
                                <div class="pxl-page-title-inner">
                                   <div class="pxl-page-title">
                                      <h1 class="main-title">Contact Us</h1>
                                      <div class="sub-title">- We will help you to solve any problem - </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="elementor-element elementor-element-616abdb elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_breadcrumb"
                          data-id="616abdb" data-element_type="widget"
                          data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                          data-widget_type="pxl_breadcrumb.default">
                          <div class="elementor-widget-container">
                             <div class="pxl-brc-wrap d-flex">
                                <div class="brc-inner">
                                   <div class="br-item"><a class="br-link"
                                      href="../index.html">Home</a><span
                                      class="br-divider flaticon-right-arrow-1 rtl-flip"></span></div>
                                   <div class="br-item"><span class="br-text">Contact Us</span><span
                                      class="br-divider flaticon-right-arrow-1 rtl-flip"></span></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </section>
        </div>
   </div>

     <div id="pxl-main" class="pxl-main">
        <div class="elementor-container pxl-page-content pxl-content-container">
           <div class="row pxl-content-wrap no-sidebar">
              <div id="pxl-content-area" class="pxl-content-area content-page col-12">

                 <main id="pxl-content-main" class="pxl-content-main">

                     <article id="post-2478" class="post-2478 page type-page status-publish hentry">
                        <div class="pxl-entry-content clearfix">
                           <div data-elementor-type="wp-page" data-elementor-id="2478" class="elementor elementor-2478">

                            <!-- Stars -->
                           

                          <!-- Title -->
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-e21fe67 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="e21fe67" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default ">
                                   <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a4394e5 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="a4394e5" data-element_type="column">
                                      <div class="elementor-widget-wrap elementor-element-populated">
                                         <div class="elementor-element elementor-element-ea07abb elementor-hidden-mobile elementor-widget elementor-widget-pxl_divider" data-id="ea07abb" data-element_type="widget" data-widget_type="pxl_divider.default">
                                            <div class="elementor-widget-container">
                                               <div class="pxl-divider horizontal animated reversal normal pxl-animated">
                                                  <div class="pxl-divider-separator"></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ff00a24 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="ff00a24" data-element_type="column">
                                      <div class="elementor-widget-wrap elementor-element-populated">
                                         <div class="elementor-element elementor-element-adb92e7 elementor-widget__width-auto elementor-widget elementor-widget-pxl_heading" data-id="adb92e7" data-element_type="widget" data-widget_type="pxl_heading.default">
                                            <div class="elementor-widget-container">
                                               <div class="pxl-heading-wrap d-flex">
                                                  <div class="pxl-heading-inner center ">
                                                     <h2 class="heading-title pxl-split-text split-in-right" style="perspective: 400px;">
                                                        <div class="split-line" style="display: block; text-align: center; position: relative;">
                                                           <div style="position:relative;display:inline-block;">
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">s</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">u</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">c</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">c</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">e</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">s</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">s</div>
                                                              <div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">!</div>
                                                           </div>
                                                        </div>
                                                     </h2>
                                                  </div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e5cef26 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="e5cef26" data-element_type="column">
                                      <div class="elementor-widget-wrap elementor-element-populated">
                                         <div class="elementor-element elementor-element-3bce697 elementor-hidden-mobile elementor-widget elementor-widget-pxl_divider" data-id="3bce697" data-element_type="widget" data-widget_type="pxl_divider.default">
                                            <div class="elementor-widget-container">
                                               <div class="pxl-divider horizontal animated normal pxl-animated">
                                                  <div class="pxl-divider-separator"></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div> 
                                   </div>
                                </div>
                             </section>

                             <p style="display: flex; justify-content: center; color: green;">Thanks! Your message has been received!</p>

                              
                                

                           </div>
                        </div>
                     </article>
                 </main>
              </div>
           </div>
        </div>
     </div>
</AppLayout>
